<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.realsnake.sample.mapper.board.NoticeMapper">

	<update id="insertNotice" parameterType="NoticeVo" useGeneratedKeys="true" keyProperty="seq">
	    INSERT /* insertNotice, 전강욱(realsnake1975@gmail.com) */ INTO board_notice (
	    	title
	        , content
	        , reg_user_seq
	        , reg_date
	        , del_yn
	    ) VALUES (
	    	#{title}
	        , #{content}
	        , #{regUserSeq}
	        , NOW()
	        , 'N'
	    )
	</update>

	<sql id="whereClauseOfNotice">
	    <where>
		    <if test=' loginUser.isAdmin == null or loginUser.isAdmin == false'>AND del_yn = 'N'</if>
		    <choose>
		    	<when test=' pagingHelper.search.startDate != null and !"".equals(pagingHelper.search.startDate) '>
			    	AND reg_date &gt;= CONCAT(#{pagingHelper.search.startDate}, ' 00:00:00')
			    	<if test=' pagingHelper.search.endDate != null and !"".equals(pagingHelper.search.endDate) '>
			    		AND reg_date &lt;= CONCAT(#{pagingHelper.search.endDate}, ' 23:59:59')
			    	</if>
		    	</when>
		    	<otherwise>
			    	<if test=' pagingHelper.search.endDate != null and !"".equals(pagingHelper.search.endDate) '>
			    		AND reg_date &lt;= CONCAT(#{pagingHelper.search.endDate}, ' 23:59:59')
			    	</if>
		    	</otherwise>
		    </choose>
	    	<if test=' pagingHelper.search.keyword != null and !"".equals(pagingHelper.search.keyword) '>
			    <choose>
			    	<when test=' "title".equals(pagingHelper.search.item) '>
						AND title LIKE CONCAT('%', #{pagingHelper.search.keyword}, '%')
			    	</when>
			    	<when test=' "content".equals(pagingHelper.search.item) '>
						AND content LIKE CONCAT('%', #{pagingHelper.search.keyword}, '%')
			    	</when>
			    	<otherwise>
						AND (title LIKE CONCAT('%', #{pagingHelper.search.keyword}, '%') OR content LIKE CONCAT('%', #{pagingHelper.search.keyword}, '%'))
			    	</otherwise>
			    </choose>
	    	</if>
	    </where>
	</sql>

	<sql id="orderClauseOfNotice">
		<if test=' pagingHelper != null and pagingHelper.sortList != null '>
			ORDER BY
            <foreach collection="pagingHelper.sortList" item="sort" open="" separator="," close="">
                ${sort.column} ${sort.ascOrDesc}
            </foreach>
        </if>
	</sql>

	<select id="selectNotice" parameterType="int" resultType="NoticeVo">
	    SELECT /* selectNotice, 전강욱(realsnake1975@gmail.com) */ seq
	    , title
	    , content
	    , reg_user_seq
		, reg_date
	    , mod_user_seq
		, mod_date
		, del_yn
	    , del_user_seq
		, del_date
	    FROM board_notice
		WHERE seq = #{seq}
	</select>

	<select id="selectNoticeListCount" parameterType="BoardDto" resultType="int">
	    SELECT /* selectNoticeListCount, 전강욱(realsnake1975@gmail.com) */ COUNT(*)
	    FROM board_notice
	    <include refid="whereClauseOfNotice" />
	</select>

	<select id="selectNoticeList" parameterType="BoardDto" resultType="NoticeVo">
	    SELECT /* selectNoticeList, 전강욱(realsnake1975@gmail.com) */ seq
	    , title
	    , content
	    , reg_user_seq
		, reg_date
	    , mod_user_seq
		, mod_date
		, del_yn
	    , del_user_seq
		, del_date
	    FROM board_notice
	    <include refid="whereClauseOfNotice" />
	    <include refid="orderClauseOfNotice" />
	    LIMIT #{pagingHelper.startNum}, #{pagingHelper.endNum}
	</select>

	<update id="updateNotice" parameterType="NoticeVo">
	    UPDATE /* updateNotice, 전강욱(realsnake1975@gmail.com) */ board_notice
	    <set>
	    	<if test=' title != null and !"".equals(title) '>title = #{title}</if>
	    	<if test=' content != null and !"".equals(content) '>, content = #{content}</if>
	    	, mod_user_seq = #{modUserSeq}
	    	, mod_date = NOW()
	    </set>
		WHERE seq = #{seq}
	</update>

	<update id="deleteNotice" parameterType="NoticeVo">
		UPDATE /* deleteNotice, 전강욱(realsnake1975@gmail.com) */ board_notice
		SET del_yn = 'Y'
		, del_user_seq = #{delUserSeq}
		, del_date = NOW()
		WHERE seq = #{seq}
     </update>



	<sql id="whereClauseOfNotice4Mobile">
	    <where>
			seq &lt; #{mobilePagingHelper.nextPageToken}
		    <if test=' loginUser.isAdmin == null or loginUser.isAdmin == false'>AND del_yn = 'N'</if>
		    <choose>
		    	<when test=' mobilePagingHelper.search.startDate != null and !"".equals(mobilePagingHelper.search.startDate) '>
			    	AND reg_date &gt;= CONCAT(#{mobilePagingHelper.search.startDate}, ' 00:00:00')
			    	<if test=' mobilePagingHelper.search.endDate != null and !"".equals(mobilePagingHelper.search.endDate) '>
			    		AND reg_date &lt;= CONCAT(#{mobilePagingHelper.search.endDate}, ' 23:59:59')
			    	</if>
		    	</when>
		    	<otherwise>
			    	<if test=' mobilePagingHelper.search.endDate != null and !"".equals(mobilePagingHelper.search.endDate) '>
			    		AND reg_date &lt;= CONCAT(#{mobilePagingHelper.search.endDate}, ' 23:59:59')
			    	</if>
		    	</otherwise>
		    </choose>
	    	<if test=' mobilePagingHelper.search.keyword != null and !"".equals(mobilePagingHelper.search.keyword) '>
			    <choose>
			    	<when test=' "title".equals(mobilePagingHelper.search.item) '>
						AND title LIKE CONCAT('%', #{mobilePagingHelper.search.keyword}, '%')
			    	</when>
			    	<when test=' "content".equals(mobilePagingHelper.search.item) '>
						AND content LIKE CONCAT('%', #{mobilePagingHelper.search.keyword}, '%')
			    	</when>
			    	<otherwise>
						AND (title LIKE CONCAT('%', #{mobilePagingHelper.search.keyword}, '%') OR content LIKE CONCAT('%', #{mobilePagingHelper.search.keyword}, '%'))
			    	</otherwise>
			    </choose>
	    	</if>
	    </where>
	</sql>

	<sql id="orderClauseOfNotice4Mobile">
		<if test=' mobilePagingHelper != null and mobilePagingHelper.sortList != null '>
			ORDER BY
            <foreach collection="mobilePagingHelper.sortList" item="sort" open="" separator="," close="">
                ${sort.column} ${sort.ascOrDesc}
            </foreach>
        </if>
	</sql>

	<select id="selectNoticeListCount4Mobile" parameterType="BoardDto" resultType="int">
	    SELECT /* selectNoticeListCount, 전강욱(realsnake1975@gmail.com) */ COUNT(*)
	    FROM board_notice
	    <include refid="whereClauseOfNotice4Mobile" />
	</select>

	<select id="selectNoticeList4Mobile" parameterType="BoardDto" resultType="NoticeVo">
	    SELECT /* selectNoticeList, 전강욱(realsnake1975@gmail.com) */ seq
	    , title
	    , content
	    , reg_user_seq
		, reg_date
	    , mod_user_seq
		, mod_date
		, del_yn
	    , del_user_seq
		, del_date
	    FROM board_notice
	    <include refid="whereClauseOfNotice4Mobile" />
	    <include refid="orderClauseOfNotice4Mobile" />
	    LIMIT 0, #{mobilePagingHelper.pageSize}
	</select>

</mapper>
