<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <title>500 | Error Page</title>

    <!-- Favicon-->
    <link rel="icon" href="/theme/AdminBSB/favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- Bootstrap Core Css -->
    <link type="text/css" rel="stylesheet" href="/theme/AdminBSB/plugins/bootstrap/css/bootstrap.css" />

    <!-- Waves Effect Css -->
    <link type="text/css" rel="stylesheet" href="/theme/AdminBSB/plugins/node-waves/waves.css" />

    <!-- Custom Css -->
    <link type="text/css" rel="stylesheet" href="/theme/AdminBSB/css/style.css" />
</head>

<body class="five-zero-zero">
<div class="five-zero-zero-container">
    <div class="error-code">500</div>
    <div class="error-message">Internal Server Error</div>
    <div class="button-place">
        <!--<a href="/" class="btn btn-default btn-lg waves-effect">GO TO HOMEPAGE</a>-->
        <a href="javascript:history.back();" class="btn btn-default btn-lg waves-effect">이전 페이지로 이동</a>
    </div>
</div>

<!-- Jquery Core Js -->
<script type="text/javascript" src="/theme/AdminBSB/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script type="text/javascript" src="/theme/AdminBSB/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Waves Effect Plugin Js -->
<script type="text/javascript" src="/theme/AdminBSB/plugins/node-waves/waves.js"></script>
</body>

</html>
